.registrationMsg {
  font-size: x-small;
  margin-top: 0.5rem;
}
.loginContainer {
  border: 1px solid #007fff;
  border-radius: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-inline-start: 35vw;
  min-height: 70vh;
  margin-bottom: 0vh;
  min-width: 25vw;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .loginContainer {
    margin-top: 2rem;

    min-height: auto;
    margin-bottom: 2rem;
    width: 40vw;
  }
  .ImageSize {
    width: 50%;
    height: 50%;
  }
}

.seperation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resgistration {
  color: #007fff;
}
